{#
/**
 * @file
 * Theme template for a Localist event.
 *
 * Available variables:
 * - event: An event from the Localist API:
 *   - title: The event title.
 *   - event_instances: An array of 'instances'. The most interesting is at 0.event_instance.start.
 *   - description: The description of the event in HTML.
 *   - description_text: The description of the event in plain text.
 *   - Localist_url: The URL to the event at Localist.
 *   - photo_url: The URL to the photo from the Localist event.
 *   - Plus many more. Try dump(event) to see them all.
 *
 * @see https://developer.localist.com/doc/api#events
 * @see https://schema.org/Event
 */
#}
{% set first_instance = event.event_instances.0.event_instance %}
{% set date_format = first_instance.all_day ? 'M d, Y' : 'M d, Y g:i' %}
<div class="localistEvent" itemscope itemtype="http://schema.org/Event">
  <h3 class="localistEvent__name" itemprop="name">{{ event.title }}</h3>
  <time datetime="{{ first_instance.start }}" class="localistEvent__startDate" itemprop="startDate" content="{{ first_instance.start }}">{{ first_instance.start | date(date_format) }}</time>
  <div class="localistEvent__description" itemprop="description">{{ event.description_text }}</div>
  <a class="localistEvent__url" itemprop="url" href="{{ event.localist_url }}">More info</a>
</div>
