{#
/**
 * @file collection.html.twig
 * Default theme implementation to present Collection data.
 *
 * This template is used when viewing Collection pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_collection()
 *
 * @ingroup themeable
 */
#}
{{ attach_library('union_organizer/cu-section') }}

{# `drupal_url` is the twig tweak method. Core may allow toUrl if this bug is
fixed: https://www.drupal.org/project/drupal/issues/2907810 #}
{% set featured_story_node = content.featured_story['#entity'] %}
{% set featured_story_url = drupal_url('node/' ~ featured_story_node.id) %}

{% set editorial_node = content.editor_letter['#entity'] %}

<div{{ attributes.addClass('collection collection--publication-issue') }}>
  <div class="cu-section">
    <div class="publication__feature">
      {% if editorial_node %}
      <div class="publication-feature__meta">
        {{ editorial_node.body|view('teaser') }}
        {{ editorial_node.field_representative_image|view({
          type: 'media_thumbnail',
          label: 'hidden',
          settings: {
            image_style: 'small_4x5',
            image_link: 'content'
          }})
        }}
      </div>
      {% endif %}
      {% if featured_story_node %}
      <div class="publication-feature__image">
        <a href="{{ featured_story_url }}">{{ featured_story_node.field_representative_image|view('teaser') }}</a>
      </div>
      <div class="publication-feature__story">
        <h3 class="cu-heading"><a href="{{ featured_story_url }}">{{ featured_story_node.label }}</a></h3>
        {{ featured_story_node.body|view('teaser') }}
      </div>
      {% endif %}
    </div>
  </div>
  {{ content }}
</div>
