{#
 * Theme override of persona directory display.
 *
 * Available variables:
 * - persona: The persona entity with limited access to object properties and methods.
 * - view_mode: View mode; for example, "teaser" or "default".
 * - label: The display name of the persona.
 * - content: A list of content items. Use 'content' to print all content, or
 *          content.field_name to access public fields
 * - attributes: HTML attributes for the container element.
 * - url: Direct URL of the current persona.
 */
#}

{% set primary_title = '' %}
{% set first_title = '' %}
{% if content.extra_field_ilr_employee_positions is not empty %}
{% for key, item in content.extra_field_ilr_employee_positions|filter((v, k) => k|first != '#') %}
  {% set position = item['#ilr_employee_position']%}
  {% if position.primary.value == "1" %}
  {% set primary_title %}
  <span class="persona--directory-card-title"><strong>{{ position.title.value }}</strong></span><br/>
  <span class="persona--directory-card-dept">{{ position.department.entity.name.value }}</span>
  {% endset %}
  {% endif %}
  {% if key == 0 %}
  {% set first_title %}
  <span class="persona--directory-card-title"><strong>{{ position.title.value }}</strong></span><br/>
  <span class="persona--directory-card-dept">{{ position.department.entity.name.value }}</span>
  {% endset %}
  {% endif %}
{% endfor %}
{% endif %}

{% set additional_info %}
{{ title_suffix }}
{{ content.field_phone }}
{{ content.field_email }}
{% include "@union/_icon.twig" with {
  title: 'More about ...',
  icon: 'right-arrow',
  size: '32px',
  link: url,
  attributes: {
    class: [
      'cu-icon--inline',
    ],
    role: 'button',
    'aria-pressed': "false"
  }
} only %}
{% endset %}

{% include "@union/_person.twig" with {
  attributes: attributes.addClass([
    'cu-person--adaptive',
    'cu-colorscheme--light',
    'persona--' ~ persona.bundle|clean_class,
    not persona.isPublished() ? 'persona--unpublished',
    view_mode ? 'persona--view-mode-' ~ view_mode|clean_class
  ]),
  name: label,
  title: primary_title ?: first_title,
  eyebrow_heading: content.field_employee_role,
  additional_info: additional_info,
  img: content.field_photo,
  url: url
} only %}
