{# @todo: fix issues with outputting the time #}
{% set form_elements = [] %}
{% for class in classes %}
  {% set course_nid = class.entity.field_course.value[0].target_id %}
  {% set cancelled = class.entity.field_class_cancelled.value == '1' %}
  {% set full = class.entity.field_class_full.value == '1' %}
  {% set disabled = null %}
  {% set class_register_url = drupal_config('ilr_registration_system.settings', 'url') ~ class.salesforce_id %}

  {% set content %}
    {% if cancelled or full %}
      {% set message = (cancelled)
        ? 'Sorry, but this class session was cancelled.'
        : 'Seats in this session are limited. Please contact ilrcustomerservice@cornell.edu or call 866-470-1922.' %}
      {% set indicator_attributes = { 'data-message': message } %}
      {% set disabled = 'disabled' %}
    {% endif %}
    <p class="cu-checkbutton__date">{{ class.entity.field_date_start.value|date("M d, Y") }}</p>
    <time class="cu-checkbutton__time">{{ class.entity.field_date_start.value|date("h:i a") ~ ' - ' ~ class.entity.field_date_end.value|date("h:i a") }}</time>
    {% if not cancelled %}
      <p class="cu-checkbutton__price cu-js-price">${{ class.entity.field_price.value }}</p>
      <a href="{{ class_register_url }}" class="cu-button cu-button--alt">Register</a>
    {% endif %}
  {% endset %}

  {% set input = {
    'id': 'event-checkbutton-'~class.entity.id,
    'type': 'radio',
    'name': 'event-checkbutton-'~course_nid,
    'value': class_register_url,
    'data-price': '$'~class.entity.field_price.value|round,
    'disabled': disabled
  } %}

  {% set element %}
    {% include '@union/_form-checkbutton.twig' with {
        label_content: content,
        input_attributes: input,
        disabled: disabled,
        indicator_attributes: indicator_attributes
      } only %}
  {% endset %}
  {% set form_elements = form_elements|merge([element]) %}
{% endfor %}

{% set form_content %}
  <div class="cu-registration-form__active-price">{# This content gets populated via js #}
  </div>
  <div class="cu-registration-form__form">
    {% if form_elements is not empty %}
    {% for element in form_elements %}
      {{ element }}
    {% endfor %}
    {% else %}
      {{ empty_message }}
    {% endif %}
  </div>
{% endset %}

{% include '@union/_form.twig' with {
  children: form_content,
  attributes: attributes.addClass(['cu-registration-form'])
} only %}
