{{ attach_library('union_organizer/form') }}
{{ attach_library('union_organizer/button') }}

{% set form_elements = [] %}
{% for class in classes %}
  {% set course = class.course %}
  {% set cancelled = class.entity.field_class_cancelled.value == '1' %}
  {% set full = class.entity.field_class_full.value == '1' %}
  {% set disabled = null %}

  {% set content %}
    <div class="details">
    {% if class.entity.field_delivery_method.value and 'online' in class.entity.field_delivery_method.value|lower %}
      <div class="cu-class-delivery-method">Online</div>
    {% else %}
      <div class="cu-class-delivery-method">{{ drupal_field('field_address', 'node', class.entity.id, 'teaser') }}</div>
    {% endif %}

    {% if class.entity.sessions|length %}
      <div class="class-sessions">
      {% for session in class.entity.sessions %}
        {# @see ClassSession::baseFieldDefinitions() session_date field setDisplayOptions() #}
        <div class="cu-class-session-date">{{ session.entity.session_date.value|date('D, F j, Y, ') }} {{ drupal_field('session_date', 'class_session', session.entity.id.value, 'default', NULL, FALSE) }}</div>
      {% endfor %}
      </div>
    {% else %}
      {{ drupal_field('field_class_date', 'node', class.entity.id, 'teaser') }}
    {% endif %}

    {% if course.field_course_number.value|upper starts with 'OLLB' or course.field_course_number.value|upper starts with 'LS' %}
      <p>All instruction will be completed between these dates.</p>
    {% endif %}

    {% if cancelled or full %}
      {% set message = (cancelled)
        ? 'For more info contact <a href="mailto:ilrcustomerservice@cornell.edu">customer service</a> or call 866-470-1922.'
        : 'Seats in this session are limited. Please contact <a href="mailto:ilrcustomerservice@cornell.edu">customer service</a> or call 866-470-1922.' %}
      {% set indicator_attributes = { 'data-message': message|striptags } %}
      {% set disabled = 'disabled' %}
      {% if cancelled %}
        <p>This date has been cancelled.</p>
      {% endif %}
      <p class="touchscreen-only message">{{ message|raw }}</p>
    {% else %}
      <a href="{{ class_register_url }}" class="cu-button cu-button--alt">Register</a>
    {% endif %}

    {% if class.entity.field_message.value %}
      <div class="class-message">{{ drupal_field('field_message', 'node', class.entity.id) }}</div>
    {% endif %}
    </div>

    {% if class.entity.field_price.value %}
    <div class="price">
      <p class="cu-checkbutton__price cu-heading">${{ class.entity.field_price.value }}</p>
    </div>
    {% endif %}
  {% endset %}

  {% set input = {
    'id': 'event-checkbutton-'~class.entity.id,
    'type': 'radio',
    'name': 'event-checkbutton-'~course.id,
    'value': class.register_url,
    'data-price': '$'~class.entity.field_price.value|round,
    'disabled': disabled
  } %}

  {% set element %}
    {% include '@union/_form-checkbutton.twig' with {
        label_content: content,
        input_attributes: input,
        disabled: disabled,
        indicator_attributes: indicator_attributes
      } only %}
  {% endset %}
  {% set form_elements = form_elements|merge([element]) %}
{% endfor %}

{% set form_content %}
  <div class="cu-registration-form__form" role="radiogroup" aria-labelledby="class-checkbuttons">
    <h2 id="class-checkbuttons" class="cu-heading visually-hidden">{{ "Choose your Class"|t }}</h2>
    {% for element in form_elements %}
      {{ element }}
    {% endfor %}
  </div>
{% endset %}

<div class="cu-form cu-registration-form">
  {% if form_elements is empty %}
    {{ drupal_block('block_content:ef42c069-7cd4-4906-9f67-f56ef8d5d236') }}
  {% else %}
    {{ form_content }}
  {% endif %}
</div>
