{# @see ClassRegister::view() #}
{{ attach_library('union_organizer/form') }}
{{ attach_library('union_organizer/button') }}

{% set form_elements = [] %}
{% for class in classes %}
  {% set course = class.course %}
  {% set cancelled = class.entity.field_class_cancelled.value == '1' %}
  {% set full = class.entity.field_class_full.value == '1' %}
  {% set registration_closed = class.entity.field_close_registration.value < 'now'|date('Y-m-d\\TH:i:s')  %}
  {% set disabled = null %}
  {% set delivery_method = (class.entity.field_delivery_method.value) ? class.entity.field_delivery_method.value|lower : '' %}
  {% set asynchronous = ('date driven' in delivery_method) ? true : false %}

  {% set content %}
    <div class="details">
    {% if 'online' in delivery_method %}
      <div class="cu-class-delivery-method">Online</div>
    {% else %}
      <div class="cu-class-delivery-method">{{ drupal_field('field_address', 'node', class.entity.id, 'teaser') }}</div>
    {% endif %}

    {% if class.session_dates|length and not asynchronous %}
      <div class="class-sessions">
      {% for session_date in class.session_dates %}
        {# @see ClassSession::baseFieldDefinitions() session_date field setDisplayOptions() #}
        <div class="cu-class-session-date">{{ session_date.start|date('D, F j, Y, g:i a') }} - {{ session_date.end|date('g:i a T') }}</div>
      {% endfor %}
      </div>
    {% else %}
      {{ drupal_field('field_class_date', 'node', class.entity.id, 'teaser') }}
    {% endif %}

    {% if class.instructors|length %}
      <div class="class-instructors">
      {% for instructor in class.instructors %}
        <div class="cu-class-instructor">{{ instructor.label }}</div>
      {% endfor %}
      </div>
    {% endif %}

    {% if course.field_course_number.value|upper starts with 'OLLB' or course.field_course_number.value|upper starts with 'LS' %}
      <p>All instruction will be completed between these dates.</p>
    {% endif %}

    {% if cancelled or full or registration_closed %}
      {% if registration_closed %}{% set message = 'Registration is closed for this session.'|t %}{% endif %}
      {% if full %}{% set message = 'Seats in this session are limited.'|t %}{% endif %}
      {% if cancelled %}{% set message = 'This date has been cancelled.'|t %}{% endif %}
      {% set indicator_attributes = { 'data-message': message|striptags } %}
      <p class="message">{{ message }} {% trans %}For more info contact <a href="mailto:ilrcustomerservice@cornell.edu">customer service</a> or call 866-470-1922.{% endtrans %}</p>
    {% else %}
      <a href="{{ class.register_url }}" class="cu-button cu-button--alt">Register</a>
    {% endif %}

    {% if class.entity.field_message.value %}
      <div class="class-message">{{ drupal_field('field_message', 'node', class.entity.id) }}</div>
    {% endif %}
    </div>

    {% if class.price %}
    <div class="price">
      {% if class.discount_price < class.price %}
      <p class="cu-checkbutton__price cu-heading"><span class="original-price">${{ class.price|number_format(2) }}</span>${{ class.discount_price|number_format(2) }}{% if class.discount_enddate %} <span style="font-size: .8em;">{{ trans }}until{{ endtrans }} {{ class.discount_enddate|date('n/j') }}</span>{% endif %}</p>
      {% else %}
      <p class="cu-checkbutton__price cu-heading">${{ class.price|number_format(2) }}</p>
      {% endif %}
    </div>
    {% endif %}
  {% endset %}

  {% set input = {
    'id': 'event-checkbutton-'~class.entity.id,
    'type': 'radio',
    'name': 'event-checkbutton-'~course.id,
    'value': class.register_url,
    'data-price': '$'~class.entity.field_price.value|round,
    'data-classid': class.entity.id,
    'data-full': full,
    'data-cancelled': cancelled,
    'data-registration-closed': registration_closed,
    'disabled': disabled
  } %}

  {% set element %}
    {% include '@union/_form-checkbutton.twig' with {
        label_content: content,
        input_attributes: input,
        disabled: disabled,
        indicator_attributes: indicator_attributes
      } only %}
  {% endset %}
  {% set form_elements = form_elements|merge([element]) %}
{% endfor %}

{% set form_content %}
  <div class="cu-registration-form__form" role="radiogroup" aria-labelledby="class-checkbuttons">
    <h2 id="class-checkbuttons" class="cu-heading visually-hidden">{{ "Choose your Class"|t }}</h2>
    {% for element in form_elements %}
      {{ element }}
    {% endfor %}
  </div>
{% endset %}

<div class="cu-form cu-registration-form">
  {% if form_elements is empty %}
    {{ drupal_block('block_content:ef42c069-7cd4-4906-9f67-f56ef8d5d236') }}
  {% else %}
    {{ form_content }}
  {% endif %}
</div>
