{#
/**
 * @file
 * Theme template for course instructor list.
 *
 * Available variables:
 * - event_date
 * - location_address
 * - location_link
 *
 * @see ilr_node_view()
 */
#}
<div class="event-when-where">
  {{ registration_form }}
  <div class="event-when-where__date">
    {% include '@union/_icon.twig' with {
      title: 'Calendar',
      icon: 'calendar-simple',
      size: '20px'
    } only %}
    <h3 class="cu-heading">{% trans %}Date &amp; Time{% endtrans %}</h3>
    {{ event_date }}
    {{ event_time }}
  </div>
  {% if location_address or location_link %}
  <div class="event-when-where__location">
    {% include '@union/_icon.twig' with {
      title: 'Geo-marker',
      icon: 'geomarker',
      size: '20px'
    } only %}
    <h3 class="cu-heading">{% trans %}Location{% endtrans %}</h3>
    {{ location_address }}
    {{ location_link }}
  </div>
  {% endif %}
</div>
