{%
    set classes = [
    'cu-component',
    'cu-component--' ~ paragraph.bundle|clean_class,
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished',
    content.field_reveal_on_hover|render|striptags|trim == 'On' ? 'cu-section--reveal-on-hover' : ''
]
%}
{% if(content.field_reveal_on_hover|render|striptags|trim == "On") %}
    {{ attach_library('union_marketing/card-overlay') }}
{% endif %}
<div{{ attributes.addClass(classes) }}>
    {% block content %}
    <div class="cu-section__heading cu-composite-heading">
        {% if paragraph.cu_icon %}
            {% include '@union/_icon.twig' with paragraph.cu_icon only %}
        {% endif %}
        {% if content.field_heading %}
            <h2 class="cu-heading cu-composite-heading__heading">{{ paragraph.field_heading.value }}</h2>
        {% endif %}
        {% if content.field_heading %}
            <h3 class="cu-heading cu-composite-heading__eyebrow-heading {{ content.field_enlarge_eyebrow_heading|render|striptags|trim == 'On' ? 'cu-composite-heading__eyebrow-heading__enlarge' : '' }}">
                {{ content.field_subheading|render|striptags|trim }}
            </h3>
        {% endif %}

        <div class="cu-composite-heading__body">
            {{ content.field_body }}
        </div>
        {% include '@union/_button.twig' with {
            text: content.field_link[0]['#title'],
            url: content.field_link[0]['#url'],
            attributes: { class: ['cu-composite-heading__link', 'cu-button--dark'] }
        } only %}

        <div class="media-wrapper">
            {{ content.field_media }}
        </div>
    </div>
    {{ content.field_components }}
    {% endblock %}
</div>

